body {
    display: grid;
    justify-self: center;
    height: 100vh;
    background-color: rgb(234, 231, 231);
}
.container{
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;    
}

form {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5rem;
    border: 1px solid black;
    padding: 10rem;
    background: linear-gradient(110deg, rgb(144, 144, 144) 60%, silver 60%);
}
.form-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.form-group {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
}

.custom-dropdown {
    display: flex;
    gap: 2rem;
}

.form-button {
    padding: 0.5rem;
    border-radius: .8em;
}
.form-button:hover{
    background-color: rgb(79, 77, 77);
}

.input {
    font-size: 1rem;
}
