* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 100vw;
    height: 100vh;
    background-color:  #95B9C7;
}

.dividerContainer {
    background-color: #659EC7;
    width: 80%;
    height: 100%;
    border: solid 1px #0000A5;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . . . . "
        ". multiplicant multiplicant . . . . "
        ". . down-multiplicant . . . . "
        ". alu alu  . multiplier multiplier . "
        ". up-product down-alu . up down . "
        ". product product left control control . "
        ". . . . . . . "
        "reset . conclude . undo . step";
}

.divisor {
    grid-area: multiplicant;
    background-color: #1F45FC;
    border-radius: 1rem;
    display: flex;
    place-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.quotient {
    grid-area: multiplier;
    background-color: #1F45FC;
    border-radius: 1rem;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.remainder {
    grid-area: product;
    background-color: #1F45FC;
    border-radius: 1rem;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.control {
    grid-area: control;
    background-color: #1F45FC;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
}

.alu {
    grid-area: alu;
    width: 100%;
    height: 100%;
    fill: #1F45FC;
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0%;
    padding: 0%;
}

.alu p {
    position: absolute;
}

#do {
    grid-area: step;
    background-color: #659EC7;
    border: 2px solid #0000A5;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
}

#undo {
    grid-area: undo;
    background-color:#659EC7;
    border: 2px solid #0000A5;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
}


#reset {
    grid-area: reset;
    background-color: #659EC7;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
    border: 2px solid #0000A5
}

#conclude {
    grid-area: conclude;
    background-color: #659EC7;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
    border: 2px solid #0000A5
}

#do:hover, #undo:hover, #conclude:hover, #reset:hover{
    background-color: #1F45FC;
    border: 2px solid #0000A5;
}

.left-control {
    grid-area: left;
    height: 70%;
    width: 100%;
    margin-top: 12.5px;
}

.down-multipiler {
    grid-area: down;
    height: 70%;
    width: 100%;
    margin-top: 12.5px;
}

.up {
    grid-area: up;
    height: 70%;
    width: 100%;
    margin-top: 12.5px;
}

.left-alu {
    grid-area: left;
    height: 70%;
    width: 100%;
    margin-top: -30px;
    margin-left: 10px;
}

.left-multiplicant {
    grid-area: left;
    height: 70%;
    width: 100%;
    margin-top: -70px;
    transform: rotate(17deg);
    margin-left: 40px;
}

.down-multiplicant {
    grid-area: down-multiplicant;
    height: 70%;
    width: 100%;
    margin-top: 12.5px;
}

.down-alu {
    grid-area: down-alu;
    height: 70%;
    width: 100%;
    margin-top: 12.5px;
}

.up-product {
    grid-area: up-product;
    height: 70%;
    width: 100%;
    margin-top: 12.5px;
}

p {
    font-weight: 900;
}
#divisor-view-port, #remainder-view-port,  #quotient-view-port{
    font-size: 1.3rem;
}

#historyContainer {
    width: 20%;
    height: 100%;
    background-color: #659EC7;
    border-radius: 1rem;
    border: 1px solid #0000A5;
    display: flex;
    flex-direction: column;
}

#historyContainer h3 {
    text-align: center;
}

#history {
    padding: 0 12px 12px 32px;
    margin: 0;
    flex-grow: 1;
    overflow-y: scroll;
}

.historyItem {
    margin-bottom: 16px;
}

.active {
    --animation-primary: white;
    filter: drop-shadow(0 0 1rem var(--animation-primary));
}
